*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: black;
  color: gold;
  padding: 40px 0;
}
.container{
    max-width: 500px;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .container{
        width: 80%;
    }
}
.heading{
    text-align: center;
}
#addTask{
    background-color: crimson;
    border: none;
    color: ivory;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
}
.todo-input{
    margin-bottom: 40px;
}
#addTask:hover{
    background-color: gold;
    color: crimson;
}
.input-todo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    width: 100%;
    padding: 7px;
}
.author{
    text-align: center;
    margin: 10px 0;
}
  